html body {
	background-color: lightslategrey;
	display: flex;
	flex-wrap: wrap;
}

header {
	background-color: lightgray;
	border: 2px solid black;
	border-radius: 8px;
	display: flex;
	padding: 5px;
	text-align: center;
	height: 100px;
	width: 100%;
}
.navbar {
	position: absolute;
}
#Mormors-logo {
	position: relative;
	left: 5px;
	top: 20px;
	width: 80px;
	height: 80px;
	border: 1px solid black;
	border-radius: 40px 20px;
}

#logos {
	position: absolute;
	right: 15px;
	border: none;
	border-radius: 40px 20px;
	display: flex;
	flex-direction: row;
	padding-top: 50px;
}
#logos1 {
	width: 50px;
	height: 50px;
}
#logos2 {
	width: 50px;
	height: 50px;
}
#logos3 {
	width: 50px;
	height: 50px;
}
.sidebar {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 1;
	height: 200px;
	background-color: lightgrey;
	border: 1px solid black;
	border-radius: 15px;
	margin: 8px;
	padding: 5px;
	text-align: center;
}
#main {
	background-color: lightgrey;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 2;
	border: 2px solid black;
	border-radius: 3px;
	margin: 8px;
	padding: 5px;
	text-align: left;
}

img {
	padding: 2px;
	border: 1px solid black;
	border-radius: 40px 20px;
	width: 100px;
	height: 100px;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
	padding: 5px;
}

.R {
	border: 1px solid black;

	padding: 2px;
	border-radius: 40px 20px;
}

.posts {
	margin: 5px;
	padding: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.recipe {
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.recept {
	border: 1px solid black;
	margin: 5px;
	padding: 3px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 4px;
}

ul {
	text-align: center;
	list-style-type: none;
}

form {
	margin: 15px;
	display: flex;
	flex-direction: column;
	max-width: 400px;
}

.arkiv {
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 15px;
	border: 1px solid black;
	border-radius: 4px;
}

#button {
	border: 1px solid black;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgrey;
	margin-bottom: 50px;
	width: 100%;
}
button {
	padding: 6px;
	border: 1px solid black;
	border-radius: 4px;
}

input {
	margin: 5px;
	border: 1px solid black;
	border-radius: 4px;
}

a {
	margin: 2px;
	padding: 3px;
}

textarea {
	margin: 5px;
	border: 1px solid black;
	border-radius: 4px;
}

label {
	margin: 5px;
	text-align: center;
}

#inspiration {
	border: 1px solid black;
	border-radius: 4px;
	background-color: lightgray;
	margin: 8px;
	padding: 5px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}
