* {
	box-sizing: border-box;
}
html body {
	background-color: lightslategrey;
	display: flex;
	flex-wrap: wrap;
}

header {
	background-color: lightgray;
	border: 2px solid black;
	border-radius: 8px;
	display: flex;
	padding: 8px;
	height: 108px;
	width: 100%;
}
.navbar {
	position: absolute;
}
#Mormors-logo {
	position: relative;
	left: 5px;
	top: 20px;
	height: 75px;
	border: 1px solid black;
	border-radius: 40px 20px;
}

#logos {
	position: absolute;
	right: 15px;
	border: none;
	border-radius: 40px 20px;
	display: flex;
	flex-direction: row;
	padding-top: 50px;
}
#logos1 {
	width: 45px;
	height: 45px;
}

.sidebar {
	width: 280px;
	height: 350px;
	background-color: lightgrey;
	border: 2px solid black;
	border-radius: 15px;
	margin: 8px;
	text-align: center;
	max-width: 20%;
}
#main {
	background-color: lightgrey;
	border: 2px solid black;
	border-radius: 15px;
	margin: 8px;
	padding: 5px;
	max-width: 70%;
}

img {
	padding: 2px;
	border: 1px solid black;
	border-radius: 40px 20px;
	width: 100px;
	height: 100px;
}

h1,
h2,
h3,
p {
	text-align: center;
	padding: 5px;
}

.posts {
	margin: 5px;
	padding: 8px;
	display: flex;
	flex-direction: column;
}
.recipe {
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.recept {
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 4px;
}

ul {
	text-align: center;
	list-style-type: none;
}

form {
	margin: auto;
	display: flex;
	flex-direction: column;
	max-width: 300px;
}

button {
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 15px;
	border: 1px solid black;
	border-radius: 4px;
}

#button {
	border: 2px solid black;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	background-color: lightgrey;
	margin-bottom: 50px;
	width: 100%;
}
.button {
	margin: auto;
	padding: 6px;
	border: 1px solid black;
	border-radius: 4px;
	max-width: 150px;
}

input {
	margin: 5px 15px;
	border: 2px solid black;
	border-radius: 4px;
}

a {
	margin: 2px;
	padding: 3px;
}

textarea {
	margin: 5px;
	border: 2px solid black;
	border-radius: 4px;
}

label {
	margin: 5px;
	text-align: center;
}

#inspiration {
	border: 1px solid black;
	border-radius: 4px;
	background-color: lightgray;
	margin: 8px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}
@media screen and (max-width: 992px) {
	body {
		flex-direction: column;
	}
	.sidebar {
		height: auto;
	}
}
